<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit user</title>
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"
	th:href="@{../css/bootstrap.min.css}" />
<link rel="icon" type="image/png"
	href="https://cdn2.iconfinder.com/data/icons/activity-5/50/1F3C0-basketball-512.png" />
</head>
<body>
	<div style="margin: 10px;">
		<h1>Edit user</h1>

		<form th:object="${user}" th:action="@{../ueditsave}" action="#"
			method="post">

			<div class="col-6" style="padding-top: 25px">
				<label for="username">Username</label> <input type="text"
					id="username" th:field="*{username}" class="form-control" disabled />
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="role">Role</label> <select id="role" th:field="*{role}"
					class="form-control">
					<option value="USER">USER</option>
					<option value="ADMIN">ADMIN</option>
				</select>
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="email">Email</label> <input type="text" id="email"
					th:field="*{email}" class="form-control" required />
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="customertype">Customertype</label> <select
					id="customertype" th:field="*{customertype}" class="form-control">
					<option value="Adult">Adult</option>
					<option value="Child">Child</option>
					<option value="Senior/student">Senior/student</option>
				</select>
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="pricecategory">Price category</label> <input
					type="number" min="0.00" max="9999.99" step="0.01" value="0.00"
					id="pricecategory" th:field="*{pricecategory}" class="form-control" />
			</div>

			<div class="col-sm" style="padding-top: 25px">
				<input type="submit" value="Update" class="btn btn-success">
				<a href="/gamelist" class="btn btn-primary">Back</a>
			</div>
		</form>

	</div>


</body>
</html>