<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit reservation</title>
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"
	th:href="@{../css/bootstrap.min.css}" />
<link rel="icon" type="image/png"
	href="https://cdn2.iconfinder.com/data/icons/activity-5/50/1F3C0-basketball-512.png" />
</head>
<body>
	<div style="margin: 10px;">
		<h1>Edit reservation</h1>

		<form th:object="${game}" th:action="@{../save}" action="#"
			method="post">


			<p th:if="${#fields.hasErrors('gametype')}" th:errors="*{gametype}">Edit
				Error</p>

			<div class="col-6" style="padding-top: 25px">
				<label for="id">Reservation Id</label> <input id="id" name="id"
					type="text" th:field="*{id}" class="form-control" disabled />
			</div>
			<div class="col-6" style="padding-top: 25px">
				<label for="id">Username</label> <input id="username"
					name="username" type="text" th:field="*{username}"
					class="form-control" disabled />
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="gametype">Game type</label> <select id="gametype"
					th:field="*{gametype}" class="form-control">
					<option value="Tennis Indoor">Tennis Indoor</option>
					<option value="Tennis Outdoor">Tennis Outdoor</option>
					<option value="Squash Indoor">Squash Indoor</option>
					<option value="Squash Outdoor">Tennis</option>
					<option value="Badminton Indoor">Badminton Indoor</option>
					<option value="Badminton Outdoor">Badminton Outdoor</option>
				</select>
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="time">Time</label> <input type="datetime-local"
					id="time" th:field="*{time}" class="form-control" required />
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="customertype">Customer type</label> <select
					id="customertype" th:field="*{customertype}" class="form-control">
					<option value="Adult">Adult</option>
					<option value="Child">Child</option>
					<option value="Senior/student">Senior/student</option>
				</select>
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="pricecategory">Price (€)</label> <input type="number"
					min="0.00" max="9999.99" step="0.01" value="0.00"
					id="pricecategory" th:field="*{pricecategory}" class="form-control" />
			</div>

			<div class="col-sm" style="padding-top: 25px">
				<input type="submit" value="Update" class="btn btn-success">
				<a href="/gamelist" class="btn btn-primary">Back</a>
			</div>
		</form>
		<div style="padding-top: 25px">
			<h1>Existing reservations</h1>
			<table class="table table-striped">
				<tr>
					<th>Game type</th>
					<th>Time</th>
				</tr>

				<tr th:each="game: ${games}">
					<td th:text="${game.gametype}"></td>
					<td th:text="${game.time}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>