<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="icon" type="image/png"
	href="https://www.bupa.pro/app/webroot/img/book.ico" />
</head>
<body>
	<div class="container">
		<h1>Oops, error! Check the address or your input.</h1>

		<a href="javascript:history.back()" class="btn btn-primary">Back</a>
	</div>
</body>
</html>