<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<title>Nummipallo gamelist</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="icon" type="image/png"
	href="https://cdn2.iconfinder.com/data/icons/activity-5/50/1F3C0-basketball-512.png" />
</head>
<body>
	<div>
		<table>
			<tr>
				<td><form th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-warning" value="Sign Out" />
					</form></td>
				<td th:inline="text"><h2>Hello
						[[${#httpServletRequest.remoteUser}]],</h2></td>
				<td><h2>these are your reservations.</h2></td>
			</tr>
		</table>
		<table class="table table-striped">
			<tr>
				<th>Game type</th>
				<th>Time</th>
				<th>Court</th>
				<th>Customer type</th>
				<th>Price (€)</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="game: ${games}">
				<td th:text="${game.gametype}"></td>
				<td th:text="${game.time}"></td>
				<td th:text="${game.court}"></td>
				<td th:text="${game.customertype}">
				</td><td th:text="${game.price}"></td>

				<td><a th:href="@{/edit/{id}(id=${game.id})}"
					sec:authorize="hasAuthority('ADMIN')" class="btn btn-info">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${game.id})}"
					sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
		<a style="margin: 10px;" href="/reservation" class="btn btn-success">Add
			reservation</a>
		<div style="margin: 10px;">
			<table>
				<tr th:each="weather: ${weathers}">
					<td th:text="${weather}"></td>
				</tr>
			</table>
			</div>
			<div style="margin: 10px;">
				<i>Nummipallo on asukaskortteli As Oy Nummen asukkaille 24/7
					auki oleva pallopelihalli.</i><br> <i>Myös ulkokenttiä löytyy.
					Nummipallossa sinun on mahdollista pelata tennistä, sulkapallo ja
					squashia.</i><br> <i>Jokaiselle lajille on kaksi sisä- ja
					ulkokenttää. Vuorot ovat tunnin pituisia. Siivoathan jälkesi. Ongelmatilanteissa ole yhteydessö admin@nummipallo.fi</i>
			</div>
	</div>
</body>
</html>