<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reservation</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="icon" type="image/png"
	href="https://cdn2.iconfinder.com/data/icons/activity-5/50/1F3C0-basketball-512.png" />
</head>
<body>
	<div style="margin: 10px;">
		<h1>Add reservation</h1>

		<form th:object="${game}" th:action="@{save}" action="#" method="post">

			<div class="col-6">
				<input id="username" name="username" type="text"
					th:field="*{username}" class="form-control" disabled />
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="gametype">Gametype</label> <select id="gametype"
					th:field="*{gametype}" class="form-control">
					<option value="Tennis">Tennis</option>
					<option value="Badminton">Badminton</option>
					<option value="Squash">Squash</option>
				</select>
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="time">Time</label>
			</div>
			<div class="col-6">
				<input type="datetime-local" id="time" th:field="*{time}"
					class="form-control" required />
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="court">Court</label> <select id="court"
					th:field="*{court}" class="form-control">
					<option value="Tennis Indoor">Tennis Indoor</option>
					<option value="Tennis Outdoor">Tennis Outdoor</option>
					<option value="Tennis Indoor">Badminton Indoor</option>
					<option value="Tennis Outdoor">Badminton Outdoor</option>
					<option value="Tennis Indoor">Squash Indoor</option>
					<option value="Tennis Outdoor">Squash Outdoor</option>
				</select>
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="customertype">Customer type</label>
			</div>
			<div class="col-6">
				<input type="text" id="customertype" th:field="*{customertype}"
					class="form-control" disabled />
			</div>

			<div class="col-6" style="padding-top: 25px">
				<label for="pricecategory">Price (€)</label> <input type="number"
					min="0.00" max="9999.99" step="0.01" value="0.00"
					id="pricecategory" th:field="*{pricecategory}" class="form-control"
					disabled />
			</div>

			<div class="col-sm" style="padding-top: 25px">
				<input type="submit" value="Add resevartion" class="btn btn-success">
				<a href="gamelist" class="btn btn-primary">Back</a>
			</div>
		</form>

	</div>


</body>
</html>