<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	th:href="@{css/bootstrap.min.css}" />
<link rel="icon" type="image/png"
	href="https://cdn2.iconfinder.com/data/icons/activity-5/50/1F3C0-basketball-512.png" />
</head>
<body>
	<div class="container" style="margin: 10px;">
		<h1>Sign up</h1>
		<div class="col-md-4">
			<form th:object="${signupform}" th:action="@{/saveuser}" action="#"
				enctype="multipart/form-data" method="post">
				<div>
					<label>Username :<input type="text" th:field="*{username}"
						class="form-control" /></label>
					<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
						Error</p>
				</div>
				<label>Email :<input type="email" th:field="*{email}"
					class="form-control" /></label>
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
					Error</p>
				<div>
					<label>Password :<input type="password"
						th:field="*{password}" class="form-control" /></label>
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
						Error</p>
				</div>
				<div>
					<label>Re-type Password: <input type="password"
						th:field="*{passwordCheck}" class="form-control" /></label>
					<p th:if="${#fields.hasErrors('passwordCheck')}"
						th:errors="*{passwordCheck}">Password Match Error</p>
				</div>
				<div class="col-6">
					<label for="customertype">Customer type</label> <select
						id="customertype" th:field="*{customertype}" class="form-control">
						<option value="Adult">Adult</option>
						<option value="Child">Child</option>
					</select>
				</div>
				<div>
					<label>Student or senior? Provide verification
						documentation (pdf) after registration for discount.</label>
				</div>
				<input type="submit" class="btn btn-primary" value="Register user"></input>
			</form>
			<br> <a class="btn btn-info" th:href="@{/login}">Back to
				login</a>
		</div>
	</div>
</body>
</html>